h1{
  font-family: Cambria, Georgia, serif;
  display: inline;
  color: #34568B;
}
/* .tbox{ */
  /* width:100%; */
/* } */
table,th,td{
  border-collapse:collapse;
}
td{
  white-space: nowrap;
overflow:hidden;
}
/* tr{ */
  /* display: inline; */
/* } */
table{
  /* table-layout: fixed; */
  /* border: 5rem solid; */
  th, td {
    border: 0.05rem solid;
  }
  h2{
    font-family: Cambria, Georgia, serif;
    /* font-size:0.7rem; */
    display: inline;
    font-size:11px;
    margin:0;
    /* padding:0; */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  p{
    /* font-size:0.7rem; */
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size:16px;
  }
  tr{
    padding:0;
    margin:0;
  }
  td{   
    text-align: center;
  }
  th{
    /* padding: 0.2rem; */
    margin:0;
  }
  td{
    /* padding: 0.5rem; */
    margin:0;
  }
  background-color: white;
}
  
#dailynotes{
    display:none;
  }
  #upkb{
    display: none;
  }
  #dpkb{
    display: none;
  }
  #top{
    font-size: 3.5rem;
  }
  input{
    box-shadow: 0 3px 4px 4px rgb(44, 145, 246);
  
  }
  .credit{
    display:flex;
    align-items: center;
    justify-content: center;
    color: #2596be;
    font-weight:lighter;
    text-shadow: 0.5px 0.5px lightblue;
    font-size:4rem;
  }
  #tt{
    background-color: white;
    margin-top:0.85%;
    box-shadow: 0 3px 2x 2px rgb(227, 218, 218);
    border: 0.5px solid black;
    border-collapse: collapse;
    /* width:96%; */
    margin-bottom:10%;
  }
  .main-content{
    /* display:none; */
    display:flex;
    justify-content: center;
    /* align-items:center; */
    align-items:flex-start;
  }
  .content{
      display:flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
    }
    .form{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .box{
      display:flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
      font-size:30px;
      width:50%;  
      box-shadow: 0 4px 6px 6px rgb(44, 145, 246);
      border-radius: 12px;
      margin:10px;
      
    }
    .io{
      text-align: center;
    }
    .ioinput{
      margin:5px;
      width:85%;
    }
    .chckbox{
      display:flex;
      font-size: 20%;
    }
    h1{
      font-size:16px;
      /* font-size:50%; */
      /* display: inline; */
    }
    h1,h2{
      font-weight:bolder;
      display: inline;
    }
    h2,p,a{
      font-size:16px;
      display: inline;
      /* font-size:50%; */
    }
    .nouser{
      display:flex;
      align-items:center;
      justify-content: center;
    }
    input{
      font-size:30px;
      padding:7px;
      font-family:'Times New Roman', Times, serif, Tahoma, Geneva Verdana, sans-serif;
    }
    .sign-in{
      text-align: center;
      box-shadow: 0 4px 4px 4px lightblue;
      border-radius:2px;
    }
    button{
      width:150px;
      height:40px;
      color:white;
      background-color: rgb(0, 92, 51);
      border: none;
    }
    p{
      /* padding:5px; */
    }
    /* table,th,td{  
      border:1px solid;
      border-collapse:collapse;
      font-size:40px;
    }
    th,td{
      padding:10px;
    } */
    .container{
      display:flex;
      justify-content: center;
      align-items:center;
      flex-direction:column;
    }
    .form{
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
    }


    html,body{
      background-image: url('./weather.jpg');
      height:99.39%;
      /* width:99.69%; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-color: hsl(220, 100%, 97%);
  }
  
